{{#section "css"}}
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css"
  />
  <style>
    .error { float: right; text-align: right; color: orangered; }

  </style>
{{/section}}

{{#section "js"}}
  <script>
    const validateName = nameValue => { return nameValue.length !== 0; }
    function oninputName() { const nameValue = $( '#txtName' ).val();
    console.log( nameValue ); let errNameNoti = ''; if ( !validateName(
    nameValue ) ) { errNameNoti = 'Please fill out your name'; }
    document.getElementById( 'errName' ).innerHTML = errNameNoti; } function
    validateEmail( email ) { const re =
    /^(([^<>()\\\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test( String( email ).toLowerCase() ); } function oninputEmail() {
    const emailValue = frmRegister.txtEmail.value; let errEmailNoti = ''; if (
    !validateEmail( emailValue ) ) { errEmailNoti = 'Please fill out a valid
    email format'; } document.getElementById( 'errEmail' ).innerHTML =
    errEmailNoti; } function isValid() { let res = true; const nameValue =
    frmRegister.txtName.value; let errNameNoti = ''; if ( !validateName(
    nameValue ) ) { errNameNoti = 'Please fill out your name'; console.log(
    'Error Name!!!' ); res = false; } document.getElementById( 'errName'
    ).innerHTML = errNameNoti; const emailValue = frmRegister.txtEmail.value;
    let errEmailNoti = ''; if ( !validateEmail( emailValue ) ) { errEmailNoti =
    'Please fill out a valid email format'; console.log( 'Error Email!!!' ); res
    = false; } document.getElementById( 'errEmail' ).innerHTML = errEmailNoti;
    return res; }

  </script>

  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"
  ></script>
  <script>
    $( '#frmRegister' ).on( 'submit', function ( e ) { e.preventDefault(); const
    username = $( '#txtUsername' ).val(); if ( username.length === 0 ) { alert(
    'Invalid data.' ); return; } if ( $( '#txtPassword' ).val() !== $(
    '#txtConfirm' ).val() ) { alert( 'Password and Confirm Password not match'
    ); return; } const email = $( '#txtEmail' ).val(); $.getJSON(
    `/account/is-available?user=${ username }&email=${ email }`, function ( data
    ) { if ( data === true ) { $( '#frmRegister' ).off( 'submit' ).submit(); }
    else { alert( 'UserName or Email is exist!!!' ); } } ) } ); $( '#txtDOB'
    ).datetimepicker( { format: 'd/m/Y', timepicker: false, mask: true, } );
  </script>
{{/section}}

<form action="/account/register" method="post" id="frmRegister" onsubmit="return isValid();">
  <div class="card">
    <h5 class="card-header">Register</h5>
    <div class="card-body">
      <div class="form-group">
        <label for="txtUsername">Username</label>
        <label for="txtName" class="error" id="errUsername">Required</label>
        <input
          type="text"
          class="form-control"
          id="txtUsername"
          name="username"
          autofocus
        />
      </div>
      <div class="form-group">
        <label for="txtPassword">Password</label>
        <label for="txtName" class="error" id="errPassword">Required</label>
        <input
          type="password"
          class="form-control"
          id="txtPassword"
          name="password"
        />
      </div>
      <div class="form-group">
        <label for="txtConfirm">Confirm</label>
        <label for="txtName" class="error" id="errConfirm">Required</label>
        <input type="password" class="form-control" id="txtConfirm" />
      </div>
      <div class="form-group">
        <label for="txtName">Name</label>
        <label for="txtName" class="error" id="errName">Required</label>
        <input
          type="text"
          class="form-control"
          id="txtName"
          name="name"
          oninput="oninputName()"
        />
      </div>
      <div class="form-group">
        <label for="txtEmail">Email</label>
        <label for="txtName" class="error" id="errEmail">Required</label>
        <input
          type="text"
          class="form-control"
          id="txtEmail"
          name="email"
          oninput="oninputEmail()"
        />
      </div>
      <div class="form-group">
        <label for="txtDOB">DOB</label>
        <label for="txtName" class="error" id="errDOB">Required</label>
        <input type="text" class="form-control" id="txtDOB" name="dob" />
      </div>

    </div>
    <div class="card-footer text-muted">
      <button type="submit" class="btn btn-outline-success">
        <i class="fa fa-check" aria-hidden="true"></i>
        Register
      </button>
    </div>
  </div>
</form>