a {
    color: black;
}

a:hover {
    color: rgba(25, 177, 223, 0.705);
    text-decoration: none;
}

.recommendation:hover {

    position: relative;
    bottom: 2px;
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px black;
}

.recommendation {
    min-height: 100px;
    width: 95%;
    border: 1px solid gray;
    border-radius: 3px
}

.shadow-top {
    margin-bottom: 5px;
    box-shadow: 8px -8px 6px -6px black
}

.text-category {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800
}

.text-name {
    font-size: xx-large;
    font-weight: 700;
}

.text-tinydes {
    font-size: large
}

.text-rate {

    font-weight: bold;
    color: #f8ce0b;
}

.text-creator {
    text-decoration: underline;
}

.jumbotron {
    padding: 2rem 4rem 2rem 4rem;
    margin: 0px 0 0 0;
}

.card-body {
    color: black;
}

.top-buffer {
    margin-top: 20px;
}

.btn-raised {
    transition: box-shadow .4s cubic-bezier(.25, .8, .25, 1), transform .4s cubic-bezier(.25, .8, .25, 1);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26)
}

.btn-raised:not([disabled]):active,
.btn-raised:not([disabled]):focus,
.btn-raised:not([disabled]):hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .4);
    transform: translate3d(0, -1px, 0)
}

.shadow:active:before {
    transform: scale(0, 0);
    opacity: .1;
    transition: 0s
}

.w-xs {
    width: 100px
}

.center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
}

.shadowBox {
    border: 1px solid gray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    position: relative;
}

.shadowBox:hover {
    bottom: 3px;
    right: 1px;
    color: inherit;
    text-decoration: none;
}

.stars-outer {
    position: relative;
    display: inline-block;
}

.stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}

.stars-outer::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #ccc;
}

.stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #f8ce0b;
}
