{{#if isAdmin}}
{{else}}
<div class="card-footer text-muted">
    <li class="nav-item">
        <a class="nav-link" href="/admin/account/login">
          <i class="fas fa-user-plus" aria-hidden="true"></i>
          For admin
        </a>
      </li>
</div>
{{/if}}